.rac {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.rbc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cac {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
