/* Row */

.ras {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
}

.rac {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.rae {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    height: 100%;
}

.rbs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.rbc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.rbe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
}

.rse {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100%;
}

.rsc {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.rss {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}

.res {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
}

.rec {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.ree {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
}

/* Column */

.cas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.cac {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.cae {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
}

.cbs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.cbc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cbe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}